parameters:
    level: 3
    paths:
        - src/
        - tests/

    type_coverage:
            return: 100
            param: 100
            property: 100
            constant: 100

    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true
