parameters:
    level: max
    paths:
        - src/
        - tests/

    type_coverage:
            return: 100
            param: 100
            property: 100
            constant: 100

    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true

    ignoreErrors:
        - '/Parameter #1 \$num1 of function bcsub expects numeric-string, string given./'
        - '/Parameter #1 \$num1 of function bcmul expects numeric-string, string given./'
        - '/Parameter #2 \$num2 of function bcadd expects numeric-string, string given./'
